# gradle
.gradle/
gradle/
gradlew*
build/

# node
sunshine-forge-client/node_modules
npm-debug.log

# React artifacts
src/main/resources/static

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
